$proportion: 42px;

.socials {
  display: flex;
  justify-content: space-between;
  width: 100%;

  a {
    height: $proportion;
    width: $proportion;
  }

  svg path {
    fill: #A503A5;
    stroke: rgba(255, 255, 255, 0.04);
  }

  a {
    &:hover {
      cursor: pointer;
    }

    &:hover svg path {
      fill: #183152;
      stroke: rgba(0, 0, 0, 0.20);
    }
  }

  svg:hover { cursor: pointer; }
}