$count: 5;
$proportion: 48px;

.socials {
  height: $proportion;
  position: relative;
  width: $proportion;

  a {
    width: $proportion;
  }

  svg path {
    fill: #CC1446;
    stroke: rgba(255, 255, 255, 0.04);
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transition: 900ms all cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: top center;
    z-index: 0;
    opacity: 1;

    &:hover {
      cursor: pointer;
    }

    &:hover svg path {
      fill: #D9E2C8;
      stroke: rgba(0, 0, 0, 0.20);
    }
  }

  svg         { transform: rotate(-180deg); }
  svg#github  { transform: rotate(-90deg);  }
  svg#dribble { transform: rotate(90deg);   }

  svg:hover   { cursor: pointer; }
}

.socials a {
  padding-top: 50%;
}

@for $i from 1 through $count {
  .socials a:nth-of-type(#{$i}) {
    transform: rotate(($i * (360/($count - 1))) + deg);
    transition-delay: $i * 36ms;
  }
}