$proportion: 36px;

header .socials {
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.socials {
  display: flex;
  width: 100%;

  a {
    height: $proportion;
    margin-left: 6px;
    margin-right: 6px;
    width: $proportion;
  }

  svg path {
    fill: #B706B7;
    stroke: rgba(255, 255, 255, 0.04);
  }

  a {
    &:hover {
      cursor: pointer;
    }

    &:hover svg path {
      fill: #183152;
      stroke: rgba(0, 0, 0, 0.10);
    }
  }

  svg:hover { cursor: pointer; }
}