// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize";


// Globals
// ===============================================

@import "globals/bases";


// App Globals
// ===============================================

html,
body {
  height:100%;
}

body {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:100%;
  background: #960096;
}


// Utilities
// ===============================================


// Atoms
// ===============================================

@import "atoms/typography";


// Molecules
// ===============================================

@import "molecules/socials";


// Organisms
// ===============================================

header[role="banner"] {
  svg {
    height: 210px;
    transform: translate(-56px);
    width: 360px;
  }
}

footer[role="contentinfo"] {
  margin-top: 10px;
  max-width: 220px;
  width: 100%;
}


// Landing
// ===============================================
// Pages
// ===============================================

.landing main {
  max-width: 1181px;
  margin: 0 auto;
}