// Config
// ===============================================

@import "vars/styling";


// Mixins
// ===============================================

@import "mixins/media-query";


// Bower Plugins
// ===============================================

@import "../../bower_components/normalize-scss/normalize.scss";


// Globals
// ===============================================

@import "globals/scrollbar";
@import "globals/scroll-indicator";
@import "globals/fonts";
@import "globals/bases";


// Layout
// ===============================================

html {
  background: #960096;
}

html,
body {
  height: 100%;
}

.l-container {
  padding: 0 calc(50% - 300px);
  margin:0 8px;
}


// Atoms
// ===============================================

@import "atoms/typography";

.avatar {
  display: flex;
  justify-content: center;
  height: 128px;

  &__img {
    border-radius: 80%;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.38),
                 1px 0 1px rgba(241, 236, 236, 0.47);
  }
}

.info {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.09), 0 1px 0 rgba(255, 255, 255, 0.12);
  margin: 48px 0;
  padding-bottom: 32px;
}

.c-logo svg {
  max-width: 160px;
  @media screen and (min-width: 480px) {
    max-width: 200px;
  }
}

.c-articles {
  display: flex;
  flex-wrap: wrap;

  li:not(:last-of-type):after {
    content: ",";
    margin-right: 4px;
  }
}


// Molecules
// ===============================================

@import "molecules/socials";


// Organisms
// ===============================================

@import "organisms/header";
@import "organisms/footer";


// Utilities
// ===============================================

.u-titles {
  text-align: center;
  font-family: 'Ciutadella W04 Medium', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.u-lsreset {
  list-style-type: none;
  padding-left: 0;
}

.l-full-screen {
  height: 100vh;
  @media screen and (min-width: 844px) {
    height: 100vh;
  }
}

.l-grid {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;

  @media screen and (min-width: 480px) {
    // justify-content: space-around;
    flex-direction: row;
    margin: auto;
    max-width: 600px;
  }

  @media screen and (min-width: 844px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center;
    grid-auto-flow: dense;
    max-width: 800px;
  }
}

.c-logo,
.c-logo + div {
  @media screen and (min-width: 480px) {
    flex: 2;
  }
}
