---
basename: landing
title: Dennis Gaebel
layout: default
description: Design Technologist passionate for Open Source, SVG, Typography, Web Animation, Interaction Development & Pattern Based Design.
---

<!--<section>
  <h3>Published Pieces</h3>
  <p>Articles and tutorials have appeared in an assortment of industry respected publications online and in print on topics such as SVG, Development Workflow, Tooling, Accessibility, CSS, JavaScript, Animations & Interaction, Sass along with a wide range of other topics relating to Web Design and Development.</p>

  <ul>
    <li><a href="https://web-design-weekly.com">{{> logo-wdw}}</a></li>
    <li><a href="https://css-tricks.com">{{> logo-csstricks}}</a></li>
    <li><a href="http://webdesign.tutsplus.com">{{> logo-tutsplus}}</a></li>
    <li><a href="http://www.sitepoint.com">{{> logo-sitepoint}}</a></li>
  </ul>

  <h3>Speaking Engagements</h3>
  <ul>
    <li><a href="https://nvite.com/CodepenSF/e288">CodePen San Francisco</a></li>
    <li><a href="http://environmentsforhumans.com/2015/css-summit">CSS Summit 2015</a></li>
    <li><a href="https://nvite.com/CodePenChicago/abfd">CodePen Chicago</a></li>
  </ul>
</section>-->
