---
basename: landing
title: Dennis Gaebel Jr.
layout: default
description: Design Technologist passionate for Open Source, SVG, Typography, Web Animation, Interaction Development & Pattern Based Design.
---

<section class="info">
  <h2 class="u-titles">The Short Story</h2>
  <div class="avatar">
    <img src="img/avatar@1x.jpg" srcset="img/avatar@1x.jpg 1x, img/avatar@2x.jpg 2x, img/avatar@3x.jpg 3x" width="128" height="auto" class="avatar__img">
  </div>

  <p>I went to <a href="http://www.colum.edu">college</a> for something other than what I do today; photography to be exact. It's a typical pattern often heard of throughout our culture. My passion started late in life for the Web and continues to this day. I love to incorporate all my experiences and studies with graphic design, typography, photography and music into the Web. HTML, CSS and JavaScript are my home, but I can sling some mean SVG too.</p>

  <p>My experiments and projects have been featured in The Treehouse Show, Product Hunt, CSS-Tricks, Codrops Collective, Smashing Magazine & Newsletter, Adobe Typekit, Front-end Front, I Hate Tomatoes, Give n' Go, CSS Weekly, Web Design Weekly, Responsive Design Weekly, Web Animation Weekly, Web Field Manual, Web Design Repo, Speckyboy, SVG Weekly, Web Tools Weekly, Web Development Reading List and many more resources yet to be discovered.</p>
</section>

<section class="info">
  <h2 class="u-titles">Current Projects</h2>
  <p>I currently run and operate <a href="http://grayghostvisuals.com">GRAY GHOST</a>; A web development and design business based in Buffalo, NY. In my spare time I write, fly fish and play music. If you're interested in anything I do feel free to view my work on CodePen, Dribbble, GitHub or follow my ramblings on Twitter. I'm not currently taking on any personal projects due to involvement with my own company, but do <a href="mailto:grayghost@grayghostvisuals.com?subject=Work Inquiry">contact me</a> there if you're in need of anything.</p>
</section>

<section class="info">
  <h2 class="u-titles">Published Articles</h2>
  <ul class="c-articles u-lsreset">
    <li><a href="http://tympanus.net/codrops/author/dennisgaebel">Codrops</a></li>
    <li><a href="https://css-tricks.com/author/dennisgaebel">CSS-Tricks</a></li>
    <li><a href="#">Smashing Magazine</a> (coming soon)</li>
    <li><a href="http://www.sitepoint.com/author/dgaebel">Sitepoint</a></li>
    <li><a href="http://tutsplus.com/authors/dennis-gaebel">Tuts+</a></li>
    <li><a href="https://web-design-weekly.com/author/dennis-gaebel">WDW</a></li>
    <li><a href="./articles/netmag/color-blind-design.pdf">Net Magazine</a></li>
  </ul>

  <p>I love to write and share with the community so I publish articles through an assortment of industry respected publications online and in print on topics such as SVG, Animation, GreenSock, Development Workflow, Tooling, Accessibility, CSS, JavaScript, Sass along with a wide range of other topics relating to Web Design and Development. Click on any of the links above to see a listing of all my articles.</p>
</section>

<section class="info">
  <h2 class="u-titles">Speaking &amp; Discussions</h2>
  <p>Some of my talks have been on behalf of my company, but of course they were still me giving the talk so I feel inclined to share them with you. I've also had the privilege as an invited guest on podcasts relating to the Web also listed below.</p>

  <ul class="u-lsreset">
    <li><a href="http://svgimmersion.com">SVG Immersion</a> : (coming soon)</li>
    <li><a href="http://slides.com/grayghostvisuals/svgpolygons">Creating SVG Polygons</a> : <a href="http://environmentsforhumans.com/2015/css-summit">CSS Summit</a>, <a href="https://nvite.com/CodepenSF/e288">CodePen San Francisco</a></li>
    <li><a href="http://codepen.io/poopsplat/blog/first-codepen-chicago-meetup">Rapid Fire Show & Tell</a> : <a href="https://nvite.com/CodePenChicago/abfd">CodePen Chicago</a></li>
    <li><a href="http://slides.com/grayghostvisuals/designing-for-wordpress">Designing for WordPress</a> : <a href="https://buffalo.wordcamp.org/2014/speakers">WordCamp Buffalo 2014</a></li>
    <li><a href="http://speaking.grayghostvisuals.com/wordcamp/2013">Git your WordPress on</a> : <a href="https://buffalo.wordcamp.org/2013/speakers">WordCamp Buffalo 2013</a></li>
    <li><a href="http://speaking.grayghostvisuals.com/wp-theme-directory">Building For WordPress' Theme Directory</a> : <a href="https://buffalo.wordcamp.org/2012/buffalo-speakers">WordCamp Buffalo 2012</a></li>
  </ul>
</section>