header[role="banner"] {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.09),
                    0 1px 0 rgba(255, 255, 255, 0.12);
  background: #8a1486;
  position: relative;
  width: 100%;
  > svg {
    transform: translate(-28px);
    width: 172px;
    margin-bottom: 3px;
  }
  h2 {
    text-align: center;
    @media screen and (min-width: 480px) {
      text-align: left;
    }
  }
}
