---
layout: default
name: home
title: Front-end Web Development, Interaction & Design
description: Design Technologist passionate for Open Source, SVG, Typography, Web Animation, Interaction Development & Pattern Based Design living in Rochester, New York.
---

<section id="the-story" class="info">
  <div class="avatar">
    <img src="{{ '/assets/images/avatar@1x.jpg' | url }}"
         srcset="{{ '/assets/images/avatar@1x.jpg' | url }} 1x,
                 {{ '/assets/images/avatar@2x.jpg' | url }} 2x,
                 {{ '/assets/images/avatar@3x.jpg' | url }} 3x"
         width="128" height="auto" class="avatar__img">
  </div>

  {% include "social-bloomer.njk" %}

  <h2 class="u-titles">The Short Story</h2>
  <p>I went to <a href="http://www.colum.edu">college</a> for something other than what I do today; photography to be exact. It's a typical pattern often heard of throughout our culture. My passion started late in life for the Web and continues to this day. I love to incorporate all my experiences and studies with graphic design, typography, photography and music into the Web. HTML, CSS and JavaScript are my home, but I can sling some mean SVG too.</p>

  <p>My experiments and projects have been featured on The Treehouse Show, Product Hunt, CSS-Tricks, Codrops Collective, Smashing Magazine & Newsletter, Adobe Typekit, Front-end Front, I Hate Tomatoes, Give n' Go, CSS Weekly, Web Design Weekly, Responsive Design Weekly, Web Animation Weekly, Web Field Manual, Web Design Repo, Speckyboy, SVG Weekly, Web Tools Weekly, Web Development Reading List and many more resources yet to be discovered.</p>

  <a href="{{ '/assets/docs/resume.pdf' | url }}" class="btn">Check out my Resumé</a>
</section>

<section id="work" class="info">
  <h2 class="u-titles">Work</h2>
  <p>You can View any of my personal work on <a href="https://codepen.io/dennisgaebel">CodePen</a>, <a href="https://dribbble.com/dennisgaebel">Dribbble</a>, <a href="https://github.com/dennisgaebel">GitHub</a>, and <a href="http://grayghostvisuals.com">Gray Ghost Visuals</a>. There's also a curated list of my <a href="#published-articles">published articles</a>.</p>
</section>

<section class="info">
  <h2 id="published-articles" class="u-titles">Published Articles</h2>
  <ul class="c-articles u-lsreset">
    <li><a href="http://tympanus.net/codrops/author/dennisgaebel">Codrops</a></li>
    <li><a href="https://css-tricks.com/author/dennisgaebel">CSS-Tricks</a></li>
    <li><a href="http://www.smashingmagazine.com/author/dennisgaebeljr">Smashing Magazine</a></li>
    <li><a href="http://www.sitepoint.com/author/dgaebel">Sitepoint</a></li>
    <li><a href="http://tutsplus.com/authors/dennis-gaebel">Tuts+</a></li>
    <li><a href="https://blog.logrocket.com/@DroidPinkman">LogRocket</a></li>
    <li><a href="{{ '/articles/netmag/color-blind-design.pdf' | url }}">Net Magazine</a></li>
  </ul>

  <p>I love to write and share with the community so I publish articles through an assortment of industry respected publications online and in print on topics such as SVG, Interaction & Animation, GreenSock, Development Workflow, Tooling, Accessibility, CSS, JavaScript, Sass along with a wide range of other topics relating to Web Design and Development. Click on any of the links above to see a listing of all my articles with each publication noted.</p>
</section>

<section class="info">
  <h2 class="u-titles">Speaking</h2>

  <ul class="u-lsreset">
    <li>SVG Immersion : <a href="https://tunein.com/podcasts/Technology-Podcasts/SVG-Immersion-The-Anything-and-Everything-SVG-Pod-p690161/?topicId=139730984">Audio Interview</a></li>
    <li>CSS Summit 2015, <a href="https://nvite.com/CodepenSF/e288">CodePen San Francisco</a> : <a href="http://slides.com/grayghostvisuals/svgpolygons">Creating SVG Polygons</a></li>
    <li><a href="https://nvite.com/CodePenChicago/abfd">CodePen Chicago</a> : <a href="http://codepen.io/poopsplat/blog/first-codepen-chicago-meetup">Rapid Fire Show & Tell</a></li>
    <li><a href="https://buffalo.wordcamp.org/2014/speakers">WordCamp Buffalo 2014</a> : <a href="http://slides.com/grayghostvisuals/designing-for-wordpress">Designing for WordPress</a></li>
    <li><a href="https://buffalo.wordcamp.org/2013/speakers">WordCamp Buffalo 2013</a> : Git your WordPress on</li>
    <li>Building For WordPress' Theme Directory : <a href="https://buffalo.wordcamp.org/2012/buffalo-speakers">WordCamp Buffalo 2012</a></li>
  </ul>
</section>